.btn{
    background: #00BFFF;
    width: 20%;
    display: inline-block;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.btn:hover{
    background: azure;
    color: black;
}
.modal{
    width: 500px;
    height: 500px;
    background-color: #2c6fa7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    animation: animate;
    animation-duration: 800ms;
}
@keyframes animate {
    from{opacity: 1;}
    from{opacity: 0;}
}
.fechar {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    image-rendering: auto;
}
